# Node.js / npm
node_modules/

# Build files
/dist/
/.nuxt/
/.vscode/

# IDE/Editor
.idea/
.vscode/

# Compiled output
*.log
*.log.*
npm-debug.log*

# Dependency directories
jspm_packages/
bower_components/

# macOS
.DS_Store

# Windows
Thumbs.db